.big-assets {
  background: #108CCB;
  color: #eaeaea;
}

.big-assets .row > div {
  padding: 2em 3em 2em;
}

.big-assets .row > div:first-child {
  background: #007CBB;
}

.big-assets .row > div:last-child {
  background: #209CDB;
}

.big-assets h3:before {
  background: rgba(255,255,255,0.68) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}

.big-assets h3 {
  padding-bottom: 18px;
  position: relative;
  margin-bottom: 15px;
}

